<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xieminjie.mapper.VerificationRecordMapper">

    <insert id="insert" parameterType="com.xieminjie.entity.VerificationRecord">
        INSERT INTO verification_record (
            anti_fake_code, product_id, verify_ip, verify_time, user_agent
        ) VALUES (
                     #{antiFakeCode}, #{productId}, #{verifyIp}, #{verifyTime}, #{userAgent}
                 )
    </insert>

</mapper>